



<div ng-controller="logoutController">

  <div class="container">

    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-sm-3">
          <h2>Wel Come!</h2>
        </div>
        <div class="col-sm-6"> </div>
        <div class="col-sm-3">
          <h2><a ng-click='logout()' class="btn btn-default">Logout</a></h12
        </div>
      </div>

        <h2><span class="fa fa-lock"></span> Connect Social Networks</h2>

        <p>Register with:</p>
  <div class='row'>
    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Connect  Facebook</a>
    <!-- Enter String to Post : <input type="text" ng-model="statusString"> -->
    <a ng-click='postOnFacebook(statusString)' class="btn btn-primary">Post On Facebook</a>
    <a class="btn btn-primary" href="https://www.wunderlist.com/oauth/authorize?client_id=639e76137806e752a65c&redirect_uri=https://connected-back.herokuapp.com/oauth/wunderlistCallback&state=testoauthcallback123123">Connect Wunderlist</a>
    </div>
</div>
</div>
</div>
